In [1]:
import requests
import pandas as pd
import bs4
import string

In [3]:
skills = ['sql', 'python', 'c++', 'julia', 'sas', 'spss', 'tableau', 'powerbi', 'excel', 'stata', 'r', 'spark', 'apache'
         'mapreduce', 'hadoop', 'aws', 'azure', 'qlik', 'java', 'pandas', 'ggplot2', 'tidyverse', 'numpy', 'scipy', 'scikitlearn',
          'jupyter', 'git', 'github', 'snowflake', 'looker', 'scala', 'matlab', 'bash', 'linux', 'unix', 'ubuntu', 'javascript', 
         'nosql', 'scala', 'pytorch', 'tensorwflow', 'mpi']

In [4]:
def find_skills(num=100):
    kn = num // 25
    job_urls = []
    search_term = input('Enter job search term (eg. Data Analyst): ')
    location = input('Enter job location (eg. Chicago or United States): ')
    search_term = '%20'.join(search_term.split())
    location = '%20'.join(location.split())
    skill_count = {}
    
    for i in range(kn):
        url = 'https://www.linkedin.com/jobs/search/?keywords={}&location={}&start={}'.format(search_term,
                                                                                              location,
                                                                                              i * 25)
        req1 = requests.get(url)
        soup1 = bs4.BeautifulSoup(req1.text, 'html.parser')
        a_list = soup1.find_all('ul', class_='jobs-search__results-list')[0].find_all('a', class_="result-card__full-card-link")
        for a in a_list:
            soup = get_soup(a['href'])
            descriptions = soup.find_all('div', class_='description__text')
            if len(descriptions) > 0:
                for w in descriptions[0].text.split():
                    k = w.lower().translate(str.maketrans('', '', string.punctuation))
                    if k in skills:
                        skill_count[k] = skill_count.get(k, 0) + 1
    
    skill_df = pd.DataFrame(skill_count.values(), index=skill_count.keys(), 
                            columns=['Number of times skill is mentioned by {} job adverts)'.format(kn * 25)])
    return skill_df.sort_values('Number of times skill is mentioned by {} job adverts)'.format(kn * 25), ascending=False)

In [5]:
def get_soup(url):
    req = requests.get(url)
    soup = bs4.BeautifulSoup(req.text, 'html.parser')
    return soup

In [8]:
find_skills()

Enter job search term (eg. Data Analyst): business intelligence
Enter job location (eg. Chicago or United States): united states

            Number of times skill is mentioned by 100 job adverts)
sql                                                       123
tableau                                                    56
looker                                                     39
python                                                     30
excel                                                      29
r                                                          16
snowflake                                                  13
aws                                                        12
qlik                                                       11
github                                                      8
powerbi                                                     7
azure                                                       7
nosql                                                       4
javascript                                                  4
spss                                                        2
unix                                                        1